.moodStyle0 {
  background: url('../../static/smile.png')
}

.moodStyle1 {
  background: url('../../static/flat.png')
}

.moodStyle2 {
  background: url('../../static/happy.png')
}

.moodStyle3 {
  background: url('../../static/cool.png')
}

.moodStyle4 {
  background: url('../../static/unhappy.png')
}

.moodStyle5 {
  background: url('../../static/indifference.png')
}

.moodStyle6 {
  background: url('../../static/cry.png')
}

.moodStyle7 {
  background: url('../../static/anger.png')
}


.moodStyle00 {
  background: url('../../static/smile0.png')
}

.moodStyle11 {
  background: url('../../static/flat0.png')
}

.moodStyle22 {
  background: url('../../static/happy0.png')
}

.moodStyle33 {
  background: url('../../static/cool0.png')
}

.moodStyle44 {
  background: url('../../static/unhappy0.png')
}

.moodStyle55 {
  background: url('../../static/indifference0.png')
}

.moodStyle66 {
  background: url('../../static/cry0.png')
}

.moodStyle77 {
  background: url('../../static/anger0.png')
}

.weatherStyle0 {
  background: url('../../static/sunshine.png')
}

.weatherStyle1 {
  background: url('../../static/cloud.png')
}

.weatherStyle2 {
  background: url('../../static/wind.png')
}

.weatherStyle3 {
  background: url('../../static/rain.png')
}

.weatherStyle4 {
  background: url('../../static/rainstorm.png')
}

.weatherStyle5 {
  background: url('../../static/Thunder.png')
}

.weatherStyle6 {
  background: url('../../static/snow.png')
}

.weatherStyle7 {
  background: url('../../static/fog.png')
}

.weatherStyle00 {
  background: url('../../static/sunshine0.png')
}

.weatherStyle11 {
  background: url('../../static/cloud0.png')
}

.weatherStyle22 {
  background: url('../../static/wind0.png')
}

.weatherStyle33 {
  background: url('../../static/rain0.png')
}

.weatherStyle44 {
  background: url('../../static/rainstorm0.png')
}

.weatherStyle55 {
  background: url('../../static/Thunder0.png')
}

.weatherStyle66 {
  background: url('../../static/snow0.png')
}

.weatherStyle77 {
  background: url('../../static/fog0.png')
}