@import "../../../styles/core.scss";
.detail{
        text-align: center;
        background-color: #fff
}
.detail,.detail>div{
    width: inherit;
    height: inherit;
    color: #545454;
}
.toHome{
    position: absolute;
    z-index: 99;
    top:.3rem;
    right: .2rem;
}

.content{
    font-size: .28rem
}

.content>div:first-child{
    position: relative;
    height: 20%;
    background: url('../../../static/red-beg.png') center center no-repeat  ;
    background-size: 100% 100%;
}

.content>div:first-child>img{
    width:1.3rem;
    height:1.3rem;
    border-radius: 50%;
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -0.65rem;
    margin-top:-0.7rem;
}

.moneySum{
    width:inherit;
    padding-top:.7rem;
    height: 17%;
}
.moneySum>span{
    display: block;
    width: inherit;
    height: 20%
}
.moneySum>p{
    display: block;
    width: inherit;
    height: 40%;

}
.moneySum>p>b{
    font-size: .5rem;
    display: inline-block;
}
.moneySum>div{
    width: inherit;
    background-color: #fafafa;
    text-align: left;
    height: 40%;
    line-height: .28rem;
    padding-top: 2%;
    border-top:1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding-left: .2rem;
}

.list{
    width:inherit;
    height: 63%;
}

.detail ul{
    width:100%;
    height: 100%;
    overflow-y: auto;
            -webkit-overflow-scrolling: touch;
}

.detail ul>li{
    height:1.04rem;
    width:inherit;
    border-bottom: 1px solid #efefef
}

.detail li>div{
    height:inherit;
    width:1.15rem;
    line-height: 1.04rem;
    @extend .fl;
    @extend .text-center;
}

.detail li>div>img{
    height:.85rem;
    width:0.85rem;
    border-radius: 50%;
    margin-top: .1rem
}

.detail li>span,li>b{
    display: block;
    height: inherit;
    line-height: 1.04rem;
    font-size: 0.31rem;
    color:#545454;
    font-weight: 100;
}
.detail li>span{
    text-align: left;
    @extend .fl;
}
.detail li>b{
    text-align: right;
    @extend .fr;
    margin-right: .35rem;
}